{% extends "include/article_list.html" %}

{% block title %}Articles by {{ author }} - {{ SITENAME }}{% endblock %}
  
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <ol class="breadcrumb">
            <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="{{ SITEURL }}/{{ AUTHORS_URL|default('authors.html') }}" title="Authors">Authors</a></li>
            <li class="active">{{ AUTHOR }}</li>
        </ol>
    {% endif %}

{% endblock %}

    
{% block precontent %}
<div class="row">
    <div class="col-lg-9">
        <header class="page-header">
            <h1>all items from  {{ author }}</h1>
            <small>see also <a href="/authors.html">authors</a> and <a href="/pages/team.html">team</a> for more information</small>
            
        </header>
    </div>
</div>
{% endblock %}    

