{% extends "include/article_list.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}


{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}

{% block collapse_categories %}in{% endblock %}

{% block precontent %}
<div class="row">
    <div class="col-lg-9">
        <header class="page-header">
            
       {% if category == 'podcast' %}
           <h1>all items in the category "{{ category }}" </h1>            
                podcast feed coming soon
       {% elif category == 'blog' %}
           <h1>all items in the category "{{ category }}" </h1>            
                Most articles start as an blog entry
       {% elif category == 'magazine' %}
           <h1>all items in the category "{{ category }}" </h1>            
                Magazine issues will bundle several articles 
       {% else %}
            <h1>all items in the category "{{ category }}" </h1>            
       {% endif %}
            
             
                
                
                
        </header>
    </div>
</div>




{% endblock %}
