{% extends "include/article_list_cat.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}


{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}

{% block collapse_categories %}in{% endblock %}

{% block precontent %}
<div class="row">
    <div class="col-lg-9">
        <header class="page-header">
            
       {% if category == 'podcast' %}    
           <div style="float: left; margin: 10px;"><img src="/images/international-open-podcast-logo2.png" alt="podcastlogo" width="320"></div>       
           <h1>International open podcast</h1>
           <h4>the podcast for international open magazine</h4>           
           <b>RSS podcast feeds</b>: 
           <ul><li>in ogg format: <a href="http://spielend-programmieren.at/intopenpodcastogg.xml">intopenpodcastogg.xml</a></li>
               <li>in mp3 format:  <a href="http://spielend-programmieren.at/intopenpodcast.xml">intopenpodcast.xml</a></li>
               <li>more information <a href="/pages/podcast.html">about this podcast, how to subscribe with itunes / podcatchers</a> other podcast sites etc.</li>
           </ul>

       {% elif category == 'blog' %}
           <h1>all items in the category "{{ category }}" </h1>            
                Most articles start as an blog entry
       {% elif category == 'magazine' %}
           <h1>all items in the category "{{ category }}" </h1>            
                Magazine issues will bundle several articles 
       {% else %}
            <h1>all items in the category "{{ category }}" </h1>            
       {% endif %}
            
             
                
                
                
        </header>
    </div>
</div>




{% endblock %}
